*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

main{
    padding: 20px 90px;
}
/* .first-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-header{
    display: flex;
    align-items: center;
    gap: 7px;
}
.header-p{
    color: hsl(228, 12%, 44%);
}

.flex-slider{
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.hr{
    visibility:hidden;
}

        .toggle {
            cursor: pointer;
            width: 50px;
            height: 25px;
            border-radius: 15px;
            background-color: hsl(228, 12%, 44%);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            transition: justify-content 0.4s;
            position: relative;
            overflow: hidden;
            margin-left: 10px;
          }
          
          .round {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            top: 2.5px;
            left: 2.5px;
            transition: left 0.4s;
          }

        .dark-mode{
            margin-left: 655px;
        }

        .seperate{
            display: block;
        }

.first-row{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}

.first-row-box{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    padding-left: 35px;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 5px;
    width: 190px;
    height: 170px;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

/* .first-row-box:hover{
    background-color: hsl(227, 47%, 96%);
} */

.border-top-color1{
    border-top: 3px solid #178FF5;
}

.border-top-color2{
    border-top: 3px solid #1DA1F2;
}

.border-top-color3{
    border-top: 3px solid #FDC366;
    border-top: linear-gradient(to right, #FDC366, #DF4896, #EE877E);
}

.border-top-color4{
    border-top: 3px solid #C4032B;
}

.green-color{
    color: #1EB589;
}

.red-color{
    color: #C4032B;
}

/* - White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%) */
.usernameAndHandle{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    justify-content: center;
    /* padding: 0px auto; */
}

.username{
    font-size: 14px;
    color: hsl(228, 12%, 44%);
}

.year{
    font-size: 40px;
    padding-top: 10px;
    letter-spacing: 5px;
    text-align: center;
}

.followers{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px;
    color:hsl(228, 12%, 44%);
    padding-left: 9px;
}

.dateAndArrow{
    display: flex;
    align-items: center;
    gap: 3px;
    padding-top: 25px;
    font-size: 14px;
    padding-left: 15px;
    text-align: center;
}

.date{
    color: #1EB589;
}

.dates{
    color:#DC414C ;
}

.second-container{
    margin-top: 30px;
}


.second-container-p{
    color: hsl(228, 12%, 44%);
    padding-top: 40px;
}

.second-row{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}

.second-row-box{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 5px;
    width: 190px;
    height: 100px;
    justify-content: space-between;
    /* border: 1px solid black; */
    text-align: center;
    cursor: pointer;
}

/* .second-row-box:hover{
    background-color: hsl(227, 47%, 96%);
} */
.top-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-part, p{
    color: hsl(228, 12%, 44%);
    font-size: 14px;
}

.bottom-part{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.bottom-part2{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}

.bottom-part22{
    display: flex;
    align-items: baseline;
    /* margin-left: 80px; */
    justify-content: space-between;
    gap: 5px;
    margin-top: 24px;

}

@media (max-width: 477px){
    header{
      max-width: 375px; /* Set a maximum width for screens wider than 375px */
   }

   .dark-mode {
    margin-left: 0px;
}

.sub-header{
    display: block;
    align-items: center;
    gap: 7px;
    justify-content: space-between;
}

main{
    padding: 20px 12px;
}

/* .first-container.second-container{
    display: flex;
} */

.first-row{
    display: block;
    /* flex-direction: column; */
    margin-top: 30px;
    /* justify-content: space-between; */
}

.dateAndArrow {
    display: flex;
    align-items: center;
    gap: 3px;
    padding-top: 25px;
    font-size: 14px;
    padding-left: 100px;
    text-align: center;
}

.first-row-box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    padding-left: 35px;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 5px;
    width: 350px;
    height: 170px;
    margin-top: 20px;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.second-row{
    display: block;
}

.second-row-box{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 5px;
    width: 350px;
    height: 100px;
    justify-content: space-between;
    /* border: 1px solid black; */
    text-align: center;
    cursor: pointer;
}

.flex-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-top: 20px;
}

.header-p {
    color: hsl(228, 12%, 44%);
    padding-top: 5px;
}

.toggle{
    margin-left: 230px !important;
}

.hr{
    visibility: visible;
    margin-top: 20px !important;
}

}

/* - White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%) */